In [7]:
import tweepy
import pandas as pd
import re

In [2]:
consumer_key = "t3SrRetcTbw89o4xjyiosUwie"
consumer_secret = "GJrVj7IzYv8H62ANgfsDJbO6YbHIIX3YwZnKNrp2O696R9Rnqk"
access_token = "1424583756610826244-sjn5RoCJhIO5iiwNskc8WTwgrtPDHq"
access_token_secret = "ltBCwkUeiaxI5BpWCJam2WwYdTdnZmPEzUdF5Ae5ymb76"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [15]:
text_query = '신난다 -RT'
count = 1000
tweet_list = []
try:
 # Creation of query method using parameters
    tweets = tweepy.Cursor(api.search,q=text_query).items(count)
 
 # Pulling information from tweets iterable object
#     tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
    r = re.compile('#\S+|^https?\S+|@\S+')
    hangul = re.compile('[^ ㄱ-ㅣ가-힣|0-9|!$%&’()*+,.;<=>?\^_`{|}~-]+')
    for tweet in tweets:
        content = tweet.text
        content = hangul.sub('',content)
        content = re.sub(r, '', content)
        content = re.sub('  +','',content)
        if content != '' and content != ' ':
            tweet_list.append(content)
    
    exciting_tweets_df = pd.DataFrame(tweet_list, columns = ['raw_text'])
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
except BaseException as e:
    print('failed on_status,',str(e))

exciting_tweets_df

                                              raw_text
0                                      아따 신난다~~~~~ .78
1    진짜 준비성도 없고 그렇다고 걱정도 없어서 (여행가는데는 카드랑 돈만 준비하면 됨)...
2    우왕 신난다 내일 2차 백신 맞는데 1차 아제 맞았는데 2차는 화이자로 교차접종! 오예!
3             와 잔여 성공해서 직원들한테 퇴근 백신휴가 통보 외치고 나오기진짜 신난다
4                                  __ 그니까~!~! 넘 신난다 ()
..                                                 ...
995                                     도뇨니 너무 신난다 귀여워
996                       _22 신난다 이거 두개 중에 암거나 넣어주세요 .
997                                    0 아좌좟 ~!!!! 신난다
998  _ 와, 진짜죠? 신난다! 근데, 사실 전 향수에 대해서는 잘 몰라서요... 나중에...
999  헉 . 단편이 아니었구나 너무 신난다 ........ 친구들이랑 저거 읽구 하루종일...

[1000 rows x 1 columns]

In [21]:
exciting_tweets_df.to_csv("./exciting.csv", mode='w',index=True,header=True, encoding="utf-8-sig")

In [20]:
text_query = '재밌다 -RT'
count = 1000
tweet_list = []
try:
 # Creation of query method using parameters
    tweets = tweepy.Cursor(api.search,q=text_query).items(count)
 
 # Pulling information from tweets iterable object
#     tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
    r = re.compile('#\S+|^https?\S+|@\S+')
    hangul = re.compile('[^ ㄱ-ㅣ가-힣|0-9|!$%&’()*+,.;<=>?\^_`{|}~-]+')
    for tweet in tweets:
        content = tweet.text
        content = hangul.sub('',content)
        content = re.sub(r, '', content)
        content = re.sub('  +','',content)
        if content != '' and content != ' ':
            tweet_list.append(content)
    
    jam_tweets_df = pd.DataFrame(tweet_list, columns = ['raw_text'])
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
except BaseException as e:
    print('failed on_status,',str(e))
jam_tweets_df

In [22]:
jam_tweets_df.to_csv("./jam.csv", mode='w',index=True,header=True, encoding="utf-8-sig")

In [23]:
jam_tweets_df

                                              raw_text
0                                        심야괴담회 재밋다....
1                                               근데 재밌다
2                                             재밋다.. .9
3                                        편의점 재밋다... 헤헤
4                                            재밌다 ㅋㅋㅋㅋㅋ
..                                                 ...
995                                              아우재밋다
996                                             재밌다 .2
997                                     재밋다 님의 이런 반응,,
998  미드에서는 얘랑 사겼다 쟤랑 사겼다 이혼했다 붙었다 별짓을 다해도 그러려니 재밌다하...
999                               올만에성소도니깐 재밌다 !!!!!!!

[1000 rows x 1 columns]

In [24]:
text_query = '웃겨 -RT'
count = 1000
tweet_list = []
try:
 # Creation of query method using parameters
    tweets = tweepy.Cursor(api.search,q=text_query).items(count)
 
 # Pulling information from tweets iterable object
#     tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
    r = re.compile('#\S+|^https?\S+|@\S+')
    hangul = re.compile('[^ ㄱ-ㅣ가-힣|0-9|!$%&’()*+,.;<=>?\^_`{|}~-]+')
    for tweet in tweets:
        content = tweet.text
        content = hangul.sub('',content)
        content = re.sub(r, '', content)
        content = re.sub('  +','',content)
        if content != '' and content != ' ':
            tweet_list.append(content)
    
    fun_tweets_df = pd.DataFrame(tweet_list, columns = ['raw_text'])
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
except BaseException as e:
    print('failed on_status,',str(e))
fun_tweets_df

                                              raw_text
0                               안 웃기다... 안 웃겨... 안 웃겨요
1                                    하......너무웃겨ㅠㅠ .59
2    _ 아시잘 웃겨서이거 보내려다가 저거 잘못눌럿는데 저고양이 면상도 웃겨서 저 화장실...
3       진짜 웃겨 이주용 김엉훈 놀릴 때 행복 인 거 진짜 미친 사랑을 하고 있네요 .82
4    _ ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ아 ㅋㅋㅋㅋㅋㅋ진짜 웃겨 ㅠㅠㅠ혐관이 이래서 맛난가보다.. ...
..                                                 ...
995  뭐?? 와타루가 나즈나 보다 나이 적어?안녕 히비키와타루찡. !! 안녕하세요 나즈나...
996  터키어로 킴’이 누구()’ 라는 뜻이래 ㅋㅋㅋㅋㅋ 언니 다큐에서 다들 킴! 킴! 킴...
997                            103 아개웃겨 2차씨피보다 걍최애가좋은편
998   당신의 최애를 음식으로 모에화한다면? &;40;아기 ㅇㅇㅇ&;41;하시라마님은 아...
999  아 개웃겨 친구들이랑 카톡하면서 청려 일러보다가 잘못해서 대화중에 청려라고 했는데 ...

[1000 rows x 1 columns]

In [26]:
fun_tweets_df.to_csv("./fun.csv", mode='w',index=True,header=True, encoding="utf-8-sig")

In [27]:
text_query = '존잼 -RT'
count = 1000
tweet_list = []
try:
 # Creation of query method using parameters
    tweets = tweepy.Cursor(api.search,q=text_query).items(count)
 
 # Pulling information from tweets iterable object
#     tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
    r = re.compile('#\S+|^https?\S+|@\S+')
    hangul = re.compile('[^ ㄱ-ㅣ가-힣|0-9|!$%&’()*+,.;<=>?\^_`{|}~-]+')
    for tweet in tweets:
        content = tweet.text
        content = hangul.sub('',content)
        content = re.sub(r, '', content)
        content = re.sub('  +','',content)
        if content != '' and content != ' ':
            tweet_list.append(content)
    
    jam2_tweets_df = pd.DataFrame(tweet_list, columns = ['raw_text'])
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
except BaseException as e:
    print('failed on_status,',str(e))
jam2_tweets_df

                                              raw_text
0    왜 다들 내 트친들한테 가서 석순이 어쩌고 알페스가 저쩌고 하는 걸까...? 내가 ...
1                                 _ 마지막까지 존잼임 ㅋㅋㅋㅋㅋㅋㅋㅋ
2                   9898 2허ㅏ까지봫어....존잼...그러나 너무 졸렸던...
3                       저 진짜 일년째 엘리트들 과몰입중이에요,, 존잼 ㅜㅅㅜ
4    오나홀토지투자멜돔존잼섹트소액투자택지지구무료웹툰천국로리차박옥수수아빠랑딸제철스팽이태원에...
..                                                 ...
995                        존잼이에용 조금 폭력적이고 중2중2하지만 재밌숴여
996                3.레인보우 식스 시즈!존잼 겜 같이할 사람이 없지만..ㅎ...
997                          __123 실험은 존잼인데 진ㅁ자 가기 싫어ㅓ
998                                 케이크 존맛 커피 존맛 넷플 존잼
999                                   _1306 난노 존잼이에요..

[1000 rows x 1 columns]

In [28]:
jam2_tweets_df.to_csv("./jam2.csv", mode='w',index=True,header=True, encoding="utf-8-sig")